<mat-nav-list >
  <mat-list-item>
    <div >
      <mat-icon>people</mat-icon>
      <a matLine fxFlexOffset="20" routerLink="/citizens" routerLinkActive="active">Citizens</a>
    </div>
  </mat-list-item>
  <mat-list-item>
    <div fxFlex="80">
      <mat-icon>people</mat-icon>
      <a matLine routerLink="/citizens/citizenship" routerLinkActive="active">Citizens with <br>double citizenship</a>
    </div>
  </mat-list-item>
  <mat-list-item>
    <div>
      <mat-icon>people</mat-icon>
      <a matLine routerLink='/citizens/criminal' routerLinkActive="active">Citizens with criminal records</a>
    </div>
  </mat-list-item>
</mat-nav-list>
