<div class="accordion">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let citizen of citizens$ | async"
                         [disabled]="clickButton"
                         (click)="clickButton=false">
      <mat-expansion-panel-header [expandedHeight]="'70px'" [collapsedHeight]="'70px'">
        <mat-panel-title [ngClass]="{'criminal': citizen.criminalRecords != null}">
          <div class="mat-h3 title-item">{{citizen.name}}</div>
          <div class="mat-h3 title-item">{{citizen.surname}}</div>
        </mat-panel-title>
        <mat-panel-description>
          <span class="mat-h3 title-item">{{citizen.dateOfBirth}}</span>
        </mat-panel-description>
        <button mat-raised-button color="warn" (click)="deleteItem(citizen.id)">Delete</button>
      </mat-expansion-panel-header>
      <div class="container">
        <div class="column">
          <h2>Marriage: {{citizen.marriage}}</h2>
          <h2>Sex: {{citizen.sex}}</h2>
          <h2>Phone number: {{citizen.phoneNumber}}</h2>
          <h2>id: {{citizen.id}}</h2>
        </div>
        <div class="column">
          <h2 *ngFor="let citizenship of citizen.citizenShip; index as i ">
            Citizenship {{citizen.citizenShip.length > 1 ? ('#' + (i + 1)) : ''}}: {{citizenship}}
          </h2>
        </div>
        <div class="column">
          <img src="{{citizen.photo}}" alt="" height="100px" width="100px"><br>
          <button mat-raised-button color="primary" (click)="onClick()">Edit</button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
