<div class="accordion">
  <mat-accordion style="width: 800px">
    <mat-expansion-panel *ngFor="let citizen of citizens$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title [ngClass]="{'criminal': citizen.criminalRecords != null}">
          <div class="mat-h3">{{citizen.name}}</div>
          <div class="mat-h3">{{citizen.surName}}</div><br>
          <div class="mat-h3">{{citizen.dateOfBirth}}</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="container">
        <div class="column">
          <h2>Marriage: {{citizen.marriage}}</h2>
          <h2>Sex: {{citizen.sex}}</h2>
          <h2>Phone number: {{citizen.phoneNumber}}</h2>
          <h2>id: {{citizen.id}}</h2>
        </div>
        <div class="column">
          <h2 *ngFor="let citizenship of citizen.citizenShip; index as i ">
            Citizenship {{citizen.citizenShip.length > 1 ? ('#' + (i + 1)) : ''}}: {{citizenship}}
          </h2>
        </div>
        <div class="column">
          <img src="{{citizen.photo}}" alt="" height="100px" width="100px"><br>
          <button mat-raised-button color="primary" (click)="onClick()">Edit</button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
