form{
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  height: 28rem;
}

.mat-dialog-title {
  text-align: center;
}

.column {
  flex: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.column > *{
  width: 25rem;
  padding: .25rem 1.25rem;
}

.radio-group {
  margin: 1rem 0 .75rem 0;

  mat-radio-button:nth-child(2) {
    padding-left: 1rem;
  }
}

.from-action {
  display: flex;
  align-items: center;
  justify-content: center;
}

.citizenship {
  width: 100%;
  padding: .25rem 0;
}

.criminal-text-area{
  margin-bottom: -18xp;
}

.add-citizen-button {
  width: 200px !important;
}

.myfilebrowser{
  //margin: 50px;
  width: 350px;

  .mat-form-field {
    width: 100%;
  }

  .mat-toolbar-single-row {
    height: auto !important;
    background: transparent;

    button {
      width: 30%;
    }
  }
}

#fileUpload {
  position: absolute;
  z-index: 9;
  opacity: 0;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  cursor: pointer;
}


/*.mat-dialog-content {
  max-height: initial;
}*/

/*
.mat-form-field{
  display: block;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

mat-dialog-content{
  //overflow-y: hidden !important;
}


.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-around;
  align-items: flex-start;
}

.flex-item > mat-dialog-actions{
  align-content: center;
}

.flex-item:nth-child(1) {
  order: 0;
  flex: 1 0 auto;
  align-self: auto;
}

.flex-item:nth-child(2) {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}

.flex-item:nth-child(3) {
  order: 0;
  flex: 0 1 100%;
  align-self: auto;
}

*/
