.mat-form-field{
  display: block;
}

button{
  flex: auto;
}

mat-dialog-content, {
  display: flex;
}

.citizenship-container{
    display: flex;
  }

.dialogColumn{
  flex: 1;
  margin: 10px;
}

.citizenship-item:nth-child(1){
  order: 0;
  flex: 4 0 auto;
  align-self: auto;
}
.citizenship-item:nth-child(2){
  order: 0;
  flex: 0 0 auto;
  align-self: auto;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.radio-group{
  margin: 15px 0 15px 0;

  mat-label{
    margin-right: 10px;
  }
}
