<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="onToggle.emit()" *ngIf="isLoggedIn$ | async">
      <mat-icon>menu</mat-icon>
    </button>
    <div fxFlex="" fxLayoutAlign="end center" fxLayout="row" fxLayoutGap="20px">
      <button mat-raised-button *ngIf="isLoggedIn$ | async" (click)="openAddDialog()">Add Citizen</button>
      <!--      <button mat-raised-button fxLayoutGap="20" routerLink="login" >Log In</button>-->
      <button mat-raised-button fxLayoutGap="20" (click)="openLogInDialog()" *ngIf="isLoggedOut$ | async">Log In</button>
      <button mat-raised-button fxLayoutGap="20" (click)="logout()" *ngIf="isLoggedIn$ | async">Log Out</button>
    </div>
  </mat-toolbar-row>


</mat-toolbar>
